// 100% width 100vh
.slider {
  position: relative;
  font-family: $font__gotham;
  color: $color__main--white;

  &__content {
    width: 100%;
    height: 100%;
    position: relative;

    &:focus {
      outline: 0;
    }

    &--blue {
      background: linear-gradient(
        to right,
        $color__gradient_from,
        $color__gradient_to
      );
    }

    &--purple {
      background: linear-gradient(
        to right,
        $color__gradient_from,
        $color__gradient_to
      );
    }

    &--violet {
      background: linear-gradient(
        to right,
        $color__gradient_from,
        $color__gradient_to
      );
    }
    &--red {
      background: linear-gradient(
        to right,
        $color__gradient_from,
        $color__gradient_to
      );
    }
    &--orange {
      background: linear-gradient(
        to right,
        $color__gradient_from,
        $color__gradient_to
      );
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    background: url("./assets/images/first-slide-image.png");
    background-repeat: no-repeat;
    background-size: cover;

    &--second {
      background: url("./assets/images/bgg.png") 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.2;
    }

    &--fourth {
      background: url("./assets/images/bgg.png") 100% 100%;
      opacity: 0.2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 95vw;

    @include tablet {
      font-size: 40px;
      width: inherit;
    }

    @include laptop {
      font-size: 70px;
      width: inherit;
    }

    @include desktop {
      font-size: 80px;
      width: inherit;
    }
  }

  &__subtitle {
    font-family: $font__gotham-book;
    font-size: 14px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.2;
    letter-spacing: 5.5px;

    @include tablet {
      font-size: 16px;
    }

    @include laptop {
      font-size: 18px;
      width: auto;
    }
    @include desktop {
      font-size: 18px;
      width: auto;
    }
  }

  .slick-dots {
    position: absolute;
    top: 50%;
    right: 28px;
    display: none;
    opacity: 0;
    flex-direction: column;
    width: auto;
    height: fit-content;
    transform: translate(0, -50%);
    z-index: 999;

    @include laptop {
      display: flex;
      opacity: 1;
    }

    @include desktop {
      display: flex;
      opacity: 1;
    }

    & > * {
      margin-top: 40px;
      & > * {
        position: relative;

        &::before {
          content: "";
          width: 9px;
          height: 9px;
          border: 1px solid $color__main--white;
          color: transparent;
          border-radius: 50%;
          opacity: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .slick-active button:before {
      background-color: $color__main--white;
      opacity: 1;
    }
  }
}
